<style>
.table th, .table td, table th, table td {
    white-space: unset;
}

.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #1e2631;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
   border: 2px solid #1e2631;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.form-control-sm {
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(66, 66, 66, 0.993);
    border: solid #b0aeae 1px;
    height: 25px;
}
</style>
<script>
    // jQueryless
    document.addEventListener("DOMContentLoaded", function (event) {

    dt_config = {{ datatable.datatable_config }};

    dt_config['processing'] = true;
    dt_config['language'] = {
        processing: '<svg width="60px" height="60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"' +
            'preserveAspectRatio="xMidYMid" class="lds-rolling" style="background: none;">' +
            '<circle cx="50" cy="50" fill="none" ng-attr-stroke="{{config.color}}" ng-attr-stroke-width="{{config.width}}"' +
            'ng-attr-r="{{config.radius}}" ng-attr-stroke-dasharray="{{config.dasharray}}" stroke="#5f2a62" stroke-width="10"' +
            'r="35" stroke-dasharray="164.93361431346415 56.97787143782138" transform="rotate(89.8956 50 50)">' +
            '<animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50"' +
            'keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>' +
            '</circle>' +
            '</svg>'
    };

    dt_config["pagingType"] = "full_numbers";

    dt_config["ajax"] = {
        "url": "{% url 'django_datatables:datatable_manager' %}?module={{module}}&name={{name}}",
        "data": function (data) {
            for (var i = 0, len = data.columns.length; i < len; i++) {
                if (!data.columns[i].search.value) delete data.columns[i].search;
                if (data.columns[i].searchable === true) delete data.columns[i].searchable;
                if (data.columns[i].orderable === true) delete data.columns[i].orderable;
                if (data.columns[i].data === data.columns[i].name) delete data.columns[i].name;
            }
            delete data.search.regex;
            data.extras='{{ datatable.extras|safe }}';
            data.additional_data = $("form.datatable-form").serialize();

        }
    };

    dt_config["columnDefs"] =  [ {
        "render": function (data, type, full, meta) {
            return "<div class='text-wrap width-200'>" + data + "</div>";
        },
        "targets": 3
    }]

    
    datatable = $('.datatable').DataTable(
        dt_config
    );
    $(".datatable-form input[type=checkbox]").attr('value', 1)
    $("form.datatable-form").submit(function () {
        datatable.ajax.reload();
        return false;
    })

    });
</script>

<hr>

{% if can_export_to_excel %}
    <p class='text-right'>
    <a href="{% url 'datatable_manager' %}?module={{module}}&name={{name}}&export=excel"><i class="fa fa-file-excel-o"></i> Excel</a>
    </p>
{% endif %}


<table class="table table-striped datatable" style="border-collapse: collapse !important; width:100%;" data-server-side='true'>
    <thead>
    {% for column_title in datatable.get_column_titles %}
        {% if column_title == "Select" or column_title == "select" %}
           <th> 
                <label class="checkbox-label">
                    <input type="checkbox" onclick="toggleSelected(this)"/>
                    <span class="checkbox-custom rectangular"></span>
                </label>
           </th>
        {% else %}
            <th>{{column_title}}</th>
        {% endif %}  
    {% endfor %}
    </thead>
</table>

<script>
 function toggleSelected(source) {
        checkboxes = document.getElementsByName('selected_ids');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>