{% extends 'index.html' %}
{% load static %}
{% load active_link_tags %}

{% block content %}


{% for property in properties %}

<div class="modal fade" id="propertyImages{{ property.id }}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Images</h5>
                <button type="button" class="close" onclick="closeModal()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row" id="propertyPics">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {% if request.user.user_role == 'Property Owner' %}
                <form method="POST" action="{% url 'uploadPropertyPics' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <script>
                                function preview_images() {
                                    var total_file = document.getElementById("images").files.length;
                                    for (var i = 0; i < total_file; i++) {
                                        $('#image_previews').append("<div class='col-sm-4'><img src='" + URL.createObjectURL(event.target.files[i]) + "' class='img-thumbnail' alt='Responsive image'></div>");
                                    }
                                }
                            </script>
                            <label for="exampleInputEmail1">Files</label>
                            <input type="file" id="images" name="images" onchange="preview_images();" multiple />
                            <input type="text" name="propertyId" value={{ property.id }} hidden />
                            <div class="container">
                                <div class="row" id="image_previews">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary" onclick="closeModal()"
                        data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% else %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{%endfor%}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Property</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="POST" action="{% url 'createProperty' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Price</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Price" name="price">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Street</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Street" name="street">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">City</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="City" name="city">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Country</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Country" name="country">
                    </div>
                    <div class="form-group">
                        <script>
                            function preview_image() {
                                var total_file = document.getElementById("upload_file").files.length;
                                for (var i = 0; i < total_file; i++) {
                                    $('#image_preview').append("<div class='col-sm-4'><img src='" + URL.createObjectURL(event.target.files[i]) + "' class='img-thumbnail' alt='Responsive image'></div>");
                                }
                            }
                        </script>
                        <label for="exampleInputEmail1">Files</label>
                        <input type="file" id="upload_file" name="upload_file" onchange="preview_image();" multiple />
                        <div class="container">
                            <div class="row" id="image_preview">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% for property in properties %}
<div class="modal fade" id="updateProperty{{ property.id }}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Update Property
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'updateProperty' property.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Name" name="name" value={{ property.name }}>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Price</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Price" name="price" value={{ property.price }}>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Street</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Street" name="street" value={{ property.street }}>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">City</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="City" name="city" value={{ property.city }}>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Country</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Country" name="country" value={{ property.country }}>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endfor%}



<nav class="t-header">
    <div class="t-header-brand-wrapper">
        <a href="index.html">
            <img class="logo-mini" src="{% static 'assets/images/logo_mini.svg' %}" alt="">
        </a>
    </div>
    <div class="t-header-content-wrapper">
        <div class="t-header-content">
            <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
                <i class="mdi mdi-menu"></i>
            </button>
            <ul class="nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="appsDropdown" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-apps mdi-1x"></i>
                    </a>
                    <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="appsDropdown">
                        <div class="dropdown-body border-top pt-0">
                            <a class="dropdown-grid" href="{% url 'logout' %}">
                                <em class="grid-icon mdi mdi-logout mdi-2x"></em>
                                <span class="grid-tittle">Logout</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- partial -->
<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <div class="sidebar">
        <div class="user-profile">
            <div class="display-avatar animated-avatar">
                <img class="profile-img img-lg rounded-circle"
                    src="{% static 'assets/images/profile/male/image_1.png' %}" alt="profile image">
            </div>
            <div class="info-wrapper">
                {% if request.user.user_role == 'BANK' %}
                <p class="user-name">{{ request.user.first_name }}</p>
                {% else %}
                <p class="user-name">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                {% endif %}
            </div>
        </div>
        <ul class="navigation-menu">
            <li class="nav-category-divider">MAIN</li>
            <li>
                <a href="{% url 'dashboard' %}" class="{% active_link 'dashboard' %}">
                    <span class="link-title">Dashboard</span>
                    <i class="mdi mdi-gauge link-icon"></i>
                </a>
            </li>
            <li>
      
                {% if request.user.user_role == 'Public' %}
                <a href="#sample-pages" data-toggle="collapse" aria-expanded="false"
                    class="{% active_link 'userProperty || publicAvailableProperties' %}">
                    <span class="link-title">Property</span>
                    <i class="mdi mdi-flask link-icon"></i>
                </a>
                <ul class="collapse navigation-submenu" id="sample-pages">
                    <li>
                        <a href="{% url 'userProperty' %}" class="{% active_link 'userProperty' %}">My Properties</a>
                    </li>
                    <li>
                        <a href="{% url 'publicAvailableProperties' %}"
                            class="{% active_link 'publicAvailableProperties' %}">Available Properties</a>
                    </li>
                </ul>
                {% elif request.user.user_role == 'Property Owner' %}
                <a href="#sample-pages" data-toggle="collapse" aria-expanded="false"
                    class="{% active_link 'userProperty || publicAvailableProperties' %}">
                    <span class="link-title">Property</span>
                    <i class="mdi mdi-flask link-icon"></i>
                </a>
                <ul class="collapse navigation-submenu" id="sample-pages">
                    <li>
                        <a href="{% url 'userProperty' %}" class="{% active_link 'userProperty' %}">My Properties</a>
                    </li>
                </ul>
                {% endif %}
            </li>
            <li>
                {% if request.user.user_role == 'Public' %}
                <a href="#ui-elements" data-toggle="collapse" aria-expanded="false"
                    class="{% active_link 'userFinancier || availableFinanciers' %}">
                    <span class="link-title">Financier</span>
                    <i class="mdi mdi-bullseye link-icon"></i>
                </a>
                <ul class="collapse navigation-submenu" id="ui-elements">
                    <li>
                        <a href="{% url 'userFinancier' %}" class="{% active_link 'userFinancier' %}">My Financiers</a>
                    </li>
                    <li>
                        <a href="{% url 'availableFinanciers' %}"
                            class="{% active_link 'availableFinanciers' %}">Available Financiers</a>
                    </li>
                </ul>
                {% elif request.user.user_role != 'Public' %}
                <a href="#ui-elements" data-toggle="collapse" aria-expanded="false"
                    class="{% active_link 'userFinancier' %}">
                    <span class="link-title">Financier</span>
                    <i class="mdi mdi-bullseye link-icon"></i>
                </a>
                <ul class="collapse navigation-submenu" id="ui-elements">
                    <li>
                        <a href="{% url 'userFinancier' %}" class="{% active_link 'userFinancier' %}">Financiers</a>
                    </li>
                </ul>
                {% endif %}
            </li>
            <li>
                {% if request.user.user_role == 'BANK' %}
                <a href="#ui-bank" data-toggle="collapse" aria-expanded="false" class="{% active_link 'bankUsers' %}">
                    <span class="link-title">Users</span>
                    <i class="mdi mdi-bullseye link-icon"></i>
                </a>
                <ul class="collapse navigation-submenu" id="ui-bank">
                    <li>
                        <a href="{% url 'bankUsers' %}" class="{% active_link 'bankUsers' %}">Bank Users</a>
                    </li>
                    <li>
                </ul>
                {% endif %}
            </li>
            <li>
                {% if request.user.user_role == 'Public' %}
                <a href="#ui-bank" data-toggle="collapse" aria-expanded="false" class="{% active_link 'userPayments || userSavings' %}">
                    <span class="link-title">Payments</span>
                    <i class="mdi mdi-bullseye link-icon"></i>
                </a>
                <ul class="collapse navigation-submenu" id="ui-bank">
                    <li>
                        <a href="{% url 'userPayments' %}" class="{% active_link 'userPayments' %}">Payments</a>
                    </li>
                    <li>
                        <a href="{% url 'userSavings' %}" class="{% active_link 'userSavings' %}">Savings</a>
                    </li>
                </ul>
                {% endif %}
            </li>
        </ul>
    </div>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div class="content-viewport">
                <div class="container">
                    {% if request.user.user_role == 'Property Owner' %}
                    <div class="row">
                        <div class="col-md-4 offset-md-8">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal">
                                Create Property
                            </button>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-12">
                        <form class='datatable-form'>
                            <div class="row">
                                {{ datatable.filter_form }}
                            </div>
                            <br>
                            <button class="btn btn-success" type="submit">Filter</button>
                        </form>
                        <div class="table-responsive">
                            {{ datatable.render }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- partial -->
    </div>
    <!-- page content ends -->
</div>

<script>
    function getImages(id) {
        $.ajax({
            type: "GET",
            url: id + "/images/",
            success: function (response) {
                console.log(response)
                for (var i = 0; i < response.data.length; i++) {
                    $('#propertyPics').append("<div class='card col-sm-4' style='width: 18rem;'> <img class='card-img-top' src='http://127.0.0.1:8000/media/" + response.data[i].name + "' alt='Card image cap'> <div class='card-body'>" + response.data[i].name.substring(13) + " <p class='card-text'></p> </div> </div> ");
                }

            }
        });
    }

    function closeModal() {
        document.getElementById("propertyPics").innerHTML = "";
    }
</script>


{% endblock content %}