{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="page-body d-flex justify-content-center">
    <!-- partial:../../partials/_sidebar.html -->
    <!-- partial -->

    <div class="d-flex align-items-center" style="padding-top: 5%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" action="{% url 'register' %}">
                                {% csrf_token %}

                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-outline-primary"
                                                onclick="choose(1)">Public/Property Owner</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-outline-primary"
                                                onclick="choose(2)">Bank/Saccos/Financier</button>
                                        </div>
                                    </div>
                                </div>

                                <div id="register">
                                    <div class="form-group"><label for="exampleInputEmail1">First Name</label><input
                                            type="text" class="form-control" name="first_name" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter First Name"></div>
                                    <div class="form-group"><label for="exampleInputEmail1">Last Name</label><input
                                            type="text" class="form-control" name="last_name" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter Last Name"> </div>
                                    <div class="form-group"><label for="exampleInputEmail1">Email address</label><input
                                            type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter email" name="email"> <small
                                            id="emailHelp" class="form-text text-muted">We will never share your email
                                            with anyone else.</small> </div>
                                    <div class="form-group"> <label for="exampleInputEmail1">Role</label><select
                                            class="custom-select" name="user_role">
                                            <option selected>Choose...</option>
                                            <option value="Public">Public</option>
                                            <option value="Property Owner">Property Owner</option>
                                        </select></div>
                                    <div class="form-group"><label for="exampleInputPassword1">Password</label><input
                                            type="password" name="password" class="form-control"
                                            id="exampleInputPassword1" placeholder="Password"></div>
                                </div>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function choose(id) {

        public = '<div class="form-group"><label for="exampleInputEmail1">First Name</label><input type="text" class="form-control" name="first_name"id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name"></div><div class="form-group"><label for="exampleInputEmail1">Last Name</label><input type="text" class="form-control" name="last_name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Last Name"> </div> <div class="form-group"><label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email"> <small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else.</small> </div> <div class="form-group"> <label for="exampleInputEmail1">Role</label><select class="custom-select" name="user_role"><option selected>Choose...</option><option value="Public">Public</option><option value="Property Owner">Property Owner</option></select></div><div class="form-group"><label for="exampleInputPassword1">Password</label><input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password"></div>'
        bank = '<div class="form-group"><label for="exampleInputEmail1">Bank Name</label> <input name="user_role" value="BANK" hidden> <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Bank Name"></div><div class="form-group"><label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Bank Email Address" name="email"><small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else.</small></div><div class="form-group"><label for="exampleInputPassword1">Password</label><input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password"></div>'

        document.getElementById("register").innerHTML = "";
        if (id == 1) {
            $('#register').append(public);
        } else {
            $('#register').append(bank);
        }

    }

</script>

{% endblock content %}