{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Hao</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/iconfonts/mdi/css/materialdesignicons.css' %}">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/shared/style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/DataTables/datatables.min.css' %}"/>
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="{% static 'assets/css/demo_1/style.css' %}">
    <!-- Layout style -->
    <link rel="shortcut icon" href="{% static 'asssets/images/favicon.ico' %}" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<link href="{% static 'assets/fontawesome/css/all.css' %}?v=2020-07-02:0903" rel="stylesheet">
    <link href="{% static 'assets/fontawesome/css/fontawesome.css' %}?v=2020-07-02:0903" rel="stylesheet">
    <link href="{% static 'assets/fontawesome/css/brands.css' %}?v=2020-07-02:0903" rel="stylesheet">
    <link href="{% static 'assets/fontawesome/css/solid.css' %}?v=2020-07-02:0903" rel="stylesheet">


    <style>
        .form-control {
            padding-left: 20px;
            padding-right: 20px;
            color: rgba(66, 66, 66, 0.993);
            border: solid #aaaaaa 1px;
            height: 50px;
        }
    </style>

    <script>
        toastr.options.timeOut = 5500;
    </script>
  </head>
  <body class="header-fixed">
    <!-- partial:partials/_header.html -->
    {% if messages %}
                {% for message in messages %}

                {% if message.tags == 'error' %}
                <script>
                    toastr.error('{{ message }}', 'Error!')
                </script>
                {% elif message.tags == 'success' %}
                <script>
                    toastr.success('{{ message }}', 'Success')

                </script>
                {% elif message.tags == 'info' %}
                <script>
                    toastr.info('{{ message }}', 'Info')
                </script>
                {% elif message.tags == 'warning' %}
                <script>
                    toastr.warning('{{ message }}', 'Warning!')
                </script>
                {% endif %}
                {% endfor %}
                {% endif %}

    {% block content %}

    {% endblock content %}

    <!--page body ends -->
    <!-- SCRIPT LOADING START FORM HERE /////////////-->
    <!-- plugins:js -->

    <script src="{% static 'assets/DataTables/datatables.min.js' %}"></script>
    
    <script defer src="{% static 'assets/fontawesome/js/all.js' %}"></script>
    <script defer src="{% static 'assets/fontawesome/js/brands.js' %}"></script>
    <script defer src="{% static 'assets/fontawesome/js/solid.js' %}"></script>
    <script defer src="{% static 'assets/fontawesome/js/fontawesome.js' %}"></script>

    <!-- endinject -->
    <!-- Vendor Js For This Page Ends-->
    <script src="{% static 'assets/vendors/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/vendors/chartjs/Chart.min.js' %}"></script>
    <script src="{% static 'assets/js/charts/chartjs.addon.js' %}"></script>
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="{% static 'assets/js/template.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <!-- endbuild -->
  </body>
</html>